*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba( 71, 147, 227, 1);
}

/* Import button */
#importJSON {
    background-color: #4FC3A1;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ffffff;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    height: 36px;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    display: flex;
    margin: auto;
    outline: 0;
}

/* Afspraken tabel */
#data {
	margin: 10px 70px 70px;
}

.afsprakenTable {
	border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.afsprakenTable thead th{
	color: #ffffff;
    background: #4FC3A1;
}

.afsprakenTable tr {
	display:flex;
	width:100%;
}

.afsprakenTable thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.afsprakenTable tr:nth-child(even) {
    background: #F8F8F8;
}

.afsprakenTable td, .afsprakenTable th {
    text-align: left;
    padding: 8px;
    width: 100%;
}

.afsprakenTable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

#afspraakzoekendiv {
    height: 100px;
    width: 131px;
    background-color: #4FC3A1;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #ffffff;
    padding: 0 0.75rem;
    font-size: 0.875rem;
    cursor: pointer;
    margin: auto;
    outline: 0;
}
#afspraakzoekendiv >input {
    height: 20px;
    float: left;
    position: relative;
    top: -15px;
    width: 100px;
}
#afspraakzoekendiv > button{
    float:left;
}
